@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

* {
  outline: none;
}

strong {
  font-weight: 600;
}

.page {
  width: 100%;
  height: 100vh;
  background: #fdfdfd;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: .03em;
  color: #212121;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #212121;
  color: #fff;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url('https://images.hdqwalls.com/wallpapers/sagiri-izumi-anime-1g.jpg');
  background-color: #212121;
}


main > div {
  margin: auto;
  max-width: 600px;
}

main h2 span {
  color: cadetblue;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  color: cadetblue;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #2b2b2b;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  color: rgb(0, 119, 255);
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
    color: whitesmoke;
    transition: 500ms;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}






* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #212121
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}



@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}
html {
    scroll-behavior: smooth;
   }
   
   a {
    text-decoration: none;
    color: black;
   } 
   
   #down {
    margin-top: 60%;
   width: 100%;

   
   } 
   @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
   }
   

   
   .content {
     position: absolute;
     transform: translate(-50%, -50%);
     left: 50%;
     top: 50%;
   }
   
   .content h2 {
     color: #fff;
     font-size: 10em;
     position: absolute;
     transform: translate(-50%, -50%);
   }
   
   .content h2:nth-child(1) {
     color: transparent;
     -webkit-text-stroke: 2px #ffffff;
   }
   
   .content h2:nth-child(2) {
     color: rgb(0, 119, 255);
     animation: animate 4s ease-in-out infinite;
   }
   
   @keyframes animate {
     0%,
     100% {
       clip-path: polygon(
         0% 45%,
         16% 44%,
         33% 50%,
         54% 60%,
         70% 61%,
         84% 59%,
         100% 52%,
         100% 100%,
         0% 100%
       );
     }
   
     50% {
       clip-path: polygon(
         0% 60%,
         15% 65%,
         34% 66%,
         51% 62%,
         67% 50%,
         84% 45%,
         100% 46%,
         100% 100%,
         0% 100%
       );
     }
   }
   .box1 img{

    width: 10%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50.5%;
    top: 82%;
   }
   .col-sm{
width: 120px;
height: 250px;
margin: 20px;
    border: solid rgb(0, 119, 255) 2px;
    border-radius: 10px;
    box-shadow: rgb(0, 119, 255) 10px 10px 100px;
    background-color: rgb(59, 59, 59);

   }
   .col-sm img{


   }
   .row{
    width: 1300px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-shadow: rgb(0, 119, 255) px 0px 100px;
    left: 57%;
    background-color: rgba(78, 78, 78, 0);
    border-radius: 60px;
    padding: 40px;
   }
   .sidenav {
    height: 89.3%;
    max-height: 89.3%;
    width: 300px;
    position: fixed;
    z-index: 1;

    top: 0;
    overflow-y: hidden;
    left: 0;
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    border-right: solid rgb(0, 119, 255);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
   .song img{
    width: 115%;
margin-left: -7.5%;
margin-top: 0.2px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
text-decoration: none;
   }
   
    
    .player{
     height: 200px;
      width: 100%;
  }
    .wrapper{
      border: 1px solid transparent;
      padding: 30px;
      overflow: hidden;
      background-color: #333;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 100px;
     border-top-left-radius: 0px;
     border-top-right-radius: 20px;
      background-color: #212121;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    
    .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }
    

    
    .now-playing {
    font-size: 0rem;
    }
    .track-art {
      margin: 25px;
      height: 85px;
      width: 85px;
      border:2px solid 	rgb(0, 119, 255);
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      -moz-box-shadow: 0px 6px 5px black;
      -webkit-box-shadow: 0px 6px 5px black;
      box-shadow: 0px 6px 5px black;
      -moz-border-radius:190px;
      -webkit-border-radius:190px;
      border-radius:190px;
      margin-left: -80%;
      margin-top:-1.3%;
      }
      
    
    .track-name {
    font-size: 1rem;
    position: absolute;
    color: whitesmoke;
    transform: translate(-50%,-50%);
    left: 22%;
    top: 52%;
    
    }
    
    .track-artist {
    font-size: 1rem;
    position: absolute;
    color: rgb(0, 119, 255);
    transform: translate(-50%,-50%);
    left: 10%;
    }
    
    .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 119, 255);
    position: absolute;
    font-size: 10px;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 40%;
    height: 10%;
    }
    .active{
        color: black;
    }
    
    .repeat-track,
    .random-track,
    .playpause-track,
    .prev-track,
    .next-track {
    padding: 5px;
    color: rgb(0, 119, 255);
    opacity: 0.8;
    transition: opacity .2s;
    }
    
    .repeat-track:hover,
    .random-track:hover,
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover {
    opacity: 1.0;
    }
    
    .slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    
    
    .seek_slider:hover,
    .volume_slider:hover {
    opacity: 1.0;
    }
    
    .seek_slider {
    width: 30%;
    position: absolute;
    top: 75%;
    }
    
    .volume_slider {
    width: 10%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 90%;
    top: 50%;
    color: rgb(0, 119, 255);
    }
    
    .current-time,
    .total-duration {
    padding: 10px;
    color: rgb(0, 119, 255);
    }

    .current-time{

      position: absolute;
      transform: translate(-50%,-50%);

      left: 33.5%;
      top: 85%;
      
    }
    .total-duration{

      position: absolute;
      left: 65%;
      top: 62%;
    }
    
    i.fa-volume-down,
    i.fa-volume-up {
    padding: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 96%;
    top: 50%;
    color: rgb(0, 119, 255)
    }
    
    i,
    i.fa-play-circle,
    i.fa-pause-circle,
    i.fa-step-forward,
    i.fa-step-backward,
    p {
    cursor: pointer;
    }
    .randomActive{
        color: black;
    }
    .rotate {
        animation: rotation 8s infinite linear;
    }
    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
    }
    
      @keyframes animate {
        50% {
          height: 20%;
          background: rgb(0, 119, 255);
        }
    
        100% {
          background: rgb(0, 119, 255);
          height: 100%;
        }
      }
      .stroke:nth-child(1){
          animation-delay: 0s;
      }
      .stroke:nth-child(2){
        animation-delay: 0.3s;
    }
    .stroke:nth-child(3){
        animation-delay: 0.6s;
    }
    .stroke:nth-child(4){
        animation-delay: 0.9s;
    }
    .stroke:nth-child(5){
        animation-delay: 0.6s;
    }
    .stroke:nth-child(6){
        animation-delay: 0.3s;
    }
    .stroke:nth-child(7){
        animation-delay: 0s;
    }
    

   .song1 img{
    width: 114%;
margin-left: -6.7%;
margin-top: 0.2px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
   }
   .song2 img{
    width: 114%;
    height: 200px;
    margin-left: -6.7%;
    margin-top: 0.2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }
   .song3 img{
   width: 114%;
   height: 200px;
   margin-left: -6.7%;
   margin-top: 0.2px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
    
   }
   .song4 img{
    width: 114%;
   height: 200px;
   margin-left: -6.8%;
   margin-top: 0.2px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   }
   .song5 img{
    width: 114%;
    height: 200px;
    margin-left: -6.9%;
    margin-top: 0.2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   }
   .song6 img{
    width: 114%;
    height: 200px;
    margin-left: -6.9%;
    margin-top: 0.2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   }
   .song7 img{
    width: 114%;
    height: 200px;
    margin-left: -6.9%;
    margin-top: 0.2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   }
   .song8 img{
    width: 114%;
    height: 200px;
    margin-left: -6.9%;
    margin-top: 0.2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   }
   .song9 img{
    width: 114%;
    height: 200px;
    margin-left: -6.9%;
    margin-top: 0.2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   }
   .song10 img{
    width: 114%;
    height: 200px;
    margin-left: -6.9%;
    margin-top: 0.2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   }
   .song11 img{
    width: 114%;
    height: 200px;
    margin-left: -6.9%;
    margin-top: 0.2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   }
   .song12 img{
    width: 114%;
    height: 200px;
    margin-left: -6.9%;
    margin-top: 0.2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   }
   .song13 img{
    width: 114%;
    height: 200px;
    margin-left: -6.9%;
    margin-top: 0.2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   }
   .song14 img{
    width: 114%;
    height: 200px;
    margin-left: -6.9%;
    margin-top: 0.2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   }
   .song15 img{
    width: 114%;
    height: 200px;
    margin-left: -6.9%;
    margin-top: 0.2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   }
   .song16 img{
    width: 114%;
    height: 200px;
    margin-left: -6.9%;
    margin-top: 0.2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   }
   .song17 img{
    width: 114%;
    height: 200px;
    margin-left: -6.9%;
    margin-top: 0.2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   }
  p{
    font-size: 13px;
  }
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #212121;
  }

  *::-webkit-scrollbar-thumb {
    background-color:  rgb(0, 119, 255);
    border-radius: 10px;
    border: 3px solid  whitesmoke;
  }
  @media only screen and (max-width: 1280px) {
    .egesz {
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 80%;
    }
  }
  @media only screen and (max-width: 1280px) {
    .row {
      left: 51%;
    }
  }
  .egesz{

    margin-top: 60%;
  }
 .vonal{
  border-bottom: solid rgb(105, 105, 105);
 }
 .playlist{
  width: 100%;
  cursor: pointer;
  padding-top: 40px;
  height: 100px;
  background-color: rgb(75, 75, 75);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: solid rgb(0, 119, 255) 2px;
  border-top: solid rgb(0, 119, 255) 2px;
  border-bottom: solid rgb(0, 119, 255) 2px;
  text-align: center;
 }
 .playlist img{

  border-radius: 20px;
  width: 70px;
  height: 70px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 15%;
  top: 35.5%;
 }
 .playlist1{
  width: 100%;
  cursor: pointer;
  padding-top: 40px;
  height: 100px;
  background-color: rgb(75, 75, 75);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: solid rgb(0, 119, 255) 2px;
  border-top: solid rgb(0, 119, 255) 2px;
  border-bottom: solid rgb(0, 119, 255) 2px;
  text-align: center;
 }
 .playlist1 img{

  border-radius: 20px;
  width: 70px;
  height: 70px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 15%;
  top: 50.3%;
 }
 .playlist2{
  width: 100%;
  cursor: pointer;
  padding-top: 40px;
  height: 100px;
  background-color: rgb(75, 75, 75);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: solid rgb(0, 119, 255) 2px;
  border-top: solid rgb(0, 119, 255) 2px;
  border-bottom: solid rgb(0, 119, 255) 2px;
  text-align: center;
 }
 .playlist2 img{

  border-radius: 20px;
  width: 70px;
  height: 70px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 15%;
  top: 65.3%;
 }
 .playlist3{
  width: 100%;
  cursor: pointer;
  padding-top: 40px;
  height: 100px;
  background-color: rgb(75, 75, 75);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: solid rgb(0, 119, 255) 2px;
  border-top: solid rgb(0, 119, 255) 2px;
  border-bottom: solid rgb(0, 119, 255) 2px;
  text-align: center;
 }
 .playlist3 img{

  border-radius: 20px;
  width: 70px;
  height: 70px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 15%;
  top: 80.1%;
 }
 @media only screen and (max-width: 390px) {
  .col-sm{
margin: 200px;
display: none;
  }
}

@media only screen and (max-width: 390px) {
  .player{
    height: 300px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    

  }
}
@media only screen and (max-width: 390px) {
  .wrapper{
  width: 100%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 120%;
  height: 100%;
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(54, 54, 54);
    box-shadow:  rgb(0, 119, 255) 0px 19px 38px,  rgb(0, 119, 255) 0px 15px 12px;
  }
}

@media only screen and (max-width: 390px) {
  .details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 390px) {
  .track-art{
    margin: 25px;
    height: 250px;
    width: 250px;
    border:2px solid  rgb(0, 119, 255);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 0px 6px 5px black;
    box-shadow: 0px 6px 5px black;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius:190px;
  }
}
@media only screen and (max-width: 390px) {
  .menusor{
   display: none;
  }
}
@media only screen and (max-width: 390px) {
  .sidenav{
    display: none;
  }
}

@media only screen and (max-width: 390px) {
  .now-playing{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 390px) {
  .track-name{
    font-size: 20px;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 60%;
    color: #ffffff;
  }
}

@media only screen and (max-width: 390px) {
  .track-artist{
    margin-top: 5px;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 390px) {
  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 85%;
  }
}

@media only screen and (max-width: 390px) {
  .active{
    color: black;

  }
}

@media only screen and (max-width: 390px) {
  .slider_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 390px) {
  .seek_slider, .volume_slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background:  rgb(0, 119, 255);
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
}
@media only screen and (max-width: 390px) {
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background:  rgb(0, 119, 255);
    border: 3px solid  rgb(0, 119, 255);
    cursor: grab;
    border-radius: 100%;
  }
}
@media only screen and (max-width: 390px) {
  .seek_slider:hover,
  .volume_slider:hover{
    opacity: 1.0;
  }
}
@media only screen and (max-width: 390px) {
  .seek_slider {
    width: 60%;
  }
}

@media only screen and (max-width: 390px) {
  .volume_slider{
    width: 30%;
    margin-top: 30%;
    margin-left: -21%;
  }
}
@media only screen and (max-width: 390px) {
  .total-duration{
    padding: 10px;
    margin-top: 15%;
    margin-left: 15%;
  }
}
@media only screen and (max-width: 390px) {
  .current-time{
    padding: 10px;
    margin-top: -14.3%;
    margin-left: -22%;
  }
}

@media only screen and (max-width: 390px) {
  i.fa-volume-down,
  i.fa-volume-up {
    padding: 5px;
    margin-top: 30%;
    margin-left: -5%;
  }
}
@media only screen and (max-width: 390px) {
  i,
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward,
  p {
    cursor: pointer;
  }
}
@media only screen and (max-width: 390px) {
  .randomActive{
    color: black;
  }
}
@media only screen and (max-width: 390px) {
  .rotate{
    animation: rotation 8s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
}
@media only screen and (max-width: 390px) {
  .loader{
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 20%;
    top: 69%;
  }
}
@media only screen and (max-width: 390px) {
  .loader .stroke{
    background:  rgb(0, 119, 255);
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite;
  }
  @keyframes animate {
    50% {
      height: 20%;
      background: #4286f4;
    }

    100% {
      background: #4286f4;
      height: 100%;
    }
  }
  .stroke:nth-child(1){
      animation-delay: 0s;
  }
  .stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}


}
@media only screen and (max-width: 390px) {
  .player{
position: absolute;
transform: translate(-50%,50%);
left: 50%;
top: 40%;
height: 600px;
  }
}
@media only screen and (max-width: 390px) {
  #top{
font-size: 5px;
  }
}
@media only screen and (max-width: 390px) {
  main{
background-image: url('anime.png');
  }
}


















@media only screen and (max-width: 500px) {
  .col-sm{
margin: 200px;
display: none;
  }
}

@media only screen and (max-width: 500px) {
  .player{
    height: 300px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    

  }
}
@media only screen and (max-width: 500px) {
  .wrapper{
  width: 100%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 120%;
  height: 100%;
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(54, 54, 54);
    box-shadow:  rgb(0, 119, 255) 0px 19px 38px,  rgb(0, 119, 255) 0px 15px 12px;
  }
}

@media only screen and (max-width: 500px) {
  .details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  .track-art{
    margin: 25px;
    height: 250px;
    width: 250px;
    border:2px solid  rgb(0, 119, 255);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 0px 6px 5px black;
    box-shadow: 0px 6px 5px black;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius:190px;
  }
}
@media only screen and (max-width: 500px) {
  .menusor{
   display: none;
  }
}
@media only screen and (max-width: 500px) {
  .sidenav{
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .now-playing{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .track-name{
    font-size: 20px;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 60%;
    color: #ffffff;
  }
}

@media only screen and (max-width: 500px) {
  .track-artist{
    margin-top: 5px;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 85%;
  }
}

@media only screen and (max-width: 500px) {
  .active{
    color: black;

  }
}

@media only screen and (max-width: 500px) {
  .slider_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 500px) {
  .seek_slider, .volume_slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background:  rgb(0, 119, 255);
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
}
@media only screen and (max-width: 500px) {
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background:  rgb(0, 119, 255);
    border: 3px solid  rgb(0, 119, 255);
    cursor: grab;
    border-radius: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .seek_slider:hover,
  .volume_slider:hover{
    opacity: 1.0;
  }
}
@media only screen and (max-width: 500px) {
  .seek_slider {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .volume_slider{
    width: 30%;
    margin-top: 30%;
    margin-left: -21%;
  }
}
@media only screen and (max-width: 500px) {
  .total-duration{
    padding: 10px;
    margin-top: 15%;
    margin-left: 15%;
  }
}
@media only screen and (max-width: 500px) {
  .current-time{
    padding: 10px;
    margin-top: -14.3%;
    margin-left: -22%;
  }
}

@media only screen and (max-width: 500px) {
  i.fa-volume-down,
  i.fa-volume-up {
    padding: 5px;
    margin-top: 30%;
    margin-left: -5%;
  }
}
@media only screen and (max-width: 500px) {
  i,
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward,
  p {
    cursor: pointer;
  }
}
@media only screen and (max-width: 500px) {
  .randomActive{
    color: black;
  }
}
@media only screen and (max-width: 500px) {
  .rotate{
    animation: rotation 8s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
}
@media only screen and (max-width: 500px) {
  .loader{
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 20%;
    top: 69%;
  }
}
@media only screen and (max-width: 500px) {
  .loader .stroke{
    background:  rgb(0, 119, 255);
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite;
  }
  @keyframes animate {
    50% {
      height: 20%;
      background: #4286f4;
    }

    100% {
      background: #4286f4;
      height: 100%;
    }
  }
  .stroke:nth-child(1){
      animation-delay: 0s;
  }
  .stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}


}
@media only screen and (max-width: 500px) {
  .player{
position: absolute;
transform: translate(-50%,50%);
left: 50%;
top: 40%;
height: 600px;
  }
}
@media only screen and (max-width: 500px) {
  #top{
font-size: 5px;
  }
}
@media only screen and (max-width: 500px) {
  main{
background-image: url('anime.png');
  }
}